/* Tema claro */
:root {
    --fondo: white;
    --texto: black;
    --fondoBoton: #4caf50;
    --colorBoton: white;
    --fondoNav: #f1f1f1;
  }
  
  /* Tema oscuro */
  [data-theme="dark"] {
    --fondo: #121212;
    --texto: #e0e0e0;
    --fondoBoton: #333;
    --colorBoton: #e0e0e0;
    --fondoNav: #333;
  }
  
  /* Tema vintage */
  [data-theme="vintage"] {
    --fondo: #f4f0e1;
    --texto: #5a3e36;
    --fondoBoton: #d28c6c;
    --colorBoton: #fff;
    --fondoNav: #bc8a5e;
  }
  
  /* Aplicar los estilos usando las variables */
  body {
    background-color: var(--fondo);
    color: var(--texto);
    font-family: Arial, sans-serif;
  }
  
  button {
    background-color: var(--fondoBoton);
    color: var(--colorBoton);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #333;
  }
  

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 5px 0; /* Reducir el padding para que no sea tan alto */
    z-index: 1000;
    display: flex;
    justify-content: center; /* Centra las opciones */
    align-items: center; /* Centra las opciones verticalmente */
    height: auto; /* Ajusta la altura al contenido */
  }

  main {
    flex-grow: 1;
    padding-bottom: 70px; /* Aseguramos que el contenido no quede cubierto por el menú */
  }
  
  /* Menú fijo en la parte inferior */
  nav {
    background-color: var(--fondoNav);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
  

  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
  }
  
  .menu-list li {
    margin: 0 10px; /* Reduce el espacio entre elementos */
    text-align: center;
  }
  
  /* Estilo para los enlaces de cada opción del menú */
  .menu-list li a {
    text-decoration: none;
    font-size: 16px; /* Fuente ligeramente más pequeña */
    display: block;
    padding: 5px 10px; /* Espacio alrededor del texto para hacerlo más compacto */
  }
  
  /* Efecto al pasar el ratón por encima */
  .menu-list li a:hover {
    color: #007BFF;
  }
  
  
  /* Estilo para el selector de tema */
  .theme-selector {
    margin-top: 1px; /* Menos espacio en la parte superior */
    margin-left: 10px;
    padding: 1px;
    width: 100%; /* Asegura que el selector ocupe todo el ancho disponible */
    max-width: 200px; /* Limita el tamaño del selector */
    box-sizing: border-box;
  }
  
  .theme-selector select {
    width: 100%; /* Asegura que el selector ocupe todo el ancho disponible */
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
  }